/* Box Model*/

/* Styling box model for header, footer and nav elements*/
header, footer, nav {
    border-radius: 0.5em;
    margin-top: 0.5em;
    opacity: 0.8;
    background-color: #7b7da6;
}

/* Styling box model for body container elements*/
.body-container {
    margin-top: 1em;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    display: block;
    width: 100%;
    border-radius: 10px;
    background-color: rgb(167, 196, 186);
}

body {
    background-color:#ccd9d4;
}

/* Styling box model for img element*/
img {
    max-width: 100%;
    border-radius: 0.5em;
}

/* Text styling*/ 

/* Styling text for body components*/
.body-container {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    text-align: center;
    border-radius: 0.5em;
}

body i{
    font-size: 4em;
}

/* Styling text for header, footer, nav elements*/
header, footer, nav, nav a {
    text-align: center;
    color:white;
    text-decoration: none;
}

/* Styling anchor type elements*/
nav a:hover {
    color: darksalmon;
}

nav a {
    padding-left : 3%;
}

nav {
    font-size: 2em;
}

body ul {
    list-style-type: none;
}

/*Styling table element*/
#table_countries {
    width: 95%;
    margin: auto;
    border-collapse: collapse;
    height: 10em;
}

/*Styling table borders*/
#table_countries,
th,
td {
    border: 1.2px solid rgb(73, 95, 88, 1);
}


/* Media query for tablets*/
@media (min-width: 768px) {

    #profile{
        width: 30%;
        float: left;
    }

    #job{
        width: 68%;
        margin-left: 32%;
    }

    .hobbies-icon {
        width: 33%;
        float: left;
    }

    body figure img{
        width: 48%;
        margin-left: 1%;
    }

    footer {
        clear: both;
    }

}

/* Media query for desktop*/
@media (min-width: 1216px) {

    figure {
        text-align: center ;
    }

    body figure img{
        width: 32%;
        margin-left: 1%;
        margin-top: 1%
    }

}